<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="item in starts">{{item}}</li>
        </ul>
        <div v-for="item in students">学生姓名：{{item.name}} 年龄：{{item.age}}</div>
        <h1>带索引值</h1>
        <div v-for="item,key in students">{{key}}------学生姓名：{{item.name}} 年龄：{{item.age}}</div>
        <h1>循环对象</h1>
        <div v-for="item,key in students[0]">{{key}}------{{item}}</div>
        <h1>条件渲染+循环</h1>
        <div v-for="item,index in students" :key="index" v-if="item.age%2==0">{{index}}------{{item}}</div>
    </div>

    <script src="js/vue.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                starts: ['范丞丞','范冰冰','李晨'],
                students: [
                    {
                        name: "小明",
                        age: "18"
                    },
                    {
                        name: "小小",
                        age: "15" 
                    },
                    {
                        name: "小红",
                        age: "16" 
                    }
                ]
            }
        })
    </script>
</body>
</html>