<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tab</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(item, index) in list" :key="index" v-show="index == keys">{{item}}</li>
        </ul>
        <button v-for="(item, index) in list" :key="index" @click="handleTab(index)">{{item}}</button>
    </div>
    <script src="js/vue.js"></script>
    <script>
        new Vue({
            el: "#app",
            data:{
                keys: 0,
                list: ['首页', '新闻页', '我的']
            },
            methods: {
                handleTab(index) {
                    this.keys = index;
                    console.log(index)
                }
            }
        })
    </script>
</body>
</html>